<div class="row">
    <div class="col-md-12">
        <img src="{{recipe.imgAdd}}" alt="" class="img-responsive" style="max-height:350px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.desc}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12" *ngFor="let ingredient of ingredients" style="width:100%">
        <p class="float-md-left">{{ingredient.name}}</p>
        <p class="float-md-right">Rs. {{ingredient.amount}}</p>
    </div>
</div>