<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Price</label>
                    <input type="number" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-success" type="submit" (click)="onAdd()">Add Ingredient</button>
                    <button class="btn btn-danger" type="submit" (click)="onDelete()">Delete Ingredient</button>
                    <button class="btn btn-warning"type="submit" (click)="onEdit()">Edit Ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>